header 
{
	background-color:SlateBlue;
	background-image:url("../images/flywheel.jpg");
	padding:10px;
	background-size:100%;	
	border-radius: 100px;
}

h1
{
	color: #7CFC00;
	font-style:cursive;
	font-variant: small-caps;
	text-align: center;
}

h2
{
	color: #FF5733;
	text-align: left;
}

body 
{
	padding: 2px;
	margin: 2%;
	background-color:#363945;
	color: DarkRed;
	zoom: 200%;
}

nav a
{
	display: inline-block;
	margin: auto;
  
	text-decoration: none;
	font-variant: small-caps;
	padding: 20px;
  
	color:#DC143C;
	text-align: -webkit-auto;
	font-weight: bolder;
	vertical-align: -webkit-baseline-middle;
	background-color: #98FB98;
	width:auto;
	height: auto;
		
	-webkit-border-radius: 2;
	-moz-border-radius: 2;
	-o-border-radius: 2;
	border-radius: 100px;
}

.list 
{
	list-style: none;
}
.list li:before 
{
	content: "🍿";
	margin: 0 5px 0 0;
	zoom: 250%;
}


/*For color mark on opened page*/
.active 
{
	background-color:#F08080;
}




